.sidenav_s {
  font-family: 'Helvetica' !important;
  all: initial;
  all:  unset;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;
  color: black;
  line-height: 1.5 !important;
  font-size: 100% !important;
}

.titulo_sb{
  all: unset;
  font-family: 'Helvetica' !important;
  font-size: 16px !important;
  color: black !important;
  text-align: center !important;


}

.sidenav_s a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav_s a:hover {
  color: #f1f1f1;
}

.main_s {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.loader_s {
  margin-left: 75px !important;;
  border: 16px solid #f3f3f3 !important;;
  display: flex !important;;
  justify-content: center !important;;
  border-radius: 50% !important;;
  border-top: 16px solid #3498db !important;;
  width: 50px !important;;
  height: 50px !important;;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.boton_principal_sn {
  cursor: pointer !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  position: absolute !important;
  margin-left: 30px !important;
  border-radius: 5px !important;
  border: 2px solid #005a6a !important;
  background-color: #005a6a !important;
  color: white !important;
  justify-content: center !important;
  padding: 8px 12px 8px 12px !important;
  align-items: center !important;
  display: inline-flex !important;
  text-align: center !important;
  font-size: 13px !important;
  font-weight: bold !important;
}

.boton_secundario_sn {
  cursor: pointer !important;
  position: absolute !important;
  margin-left: 30px !important;
  margin-bottom: 50px !important;
  margin-top: 25px !important;
  border-radius: 5px !important;
  border: 2px solid #005a6a !important;
  background-color: white !important;
  color: #005a6a !important;
  justify-content: center !important;
  padding: 8px 12px 8px 12px !important;
  align-items: center !important;
  display: inline-flex !important;
  text-align: center !important;
  font-size: 13px !important;
  font-weight: bold !important;
}

.boton_secundario_sn2 {
  position: absolute !important;
  margin-left: 35px !important;
  margin-bottom: 50px !important;
  margin-top: 50px !important;
  border-radius: 5px !important;
  border: 2px solid #005a6a !important;
  background-color: white !important;
  color: #005a6a !important;
  justify-content: center !important;
  padding: 8px 12px 8px 12px !important;
  align-items: center !important;
  display: inline-flex !important;
  text-align: center !important;
  font-size: 13px !important;
  font-weight: bold !important;
  cursor: pointer !important;

}

.boton_principal_sn2 {
  cursor: pointer !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  position: absolute !important;
  margin-left: 32px !important;
  border-radius: 5px !important;
  border: 2px solid #005a6a !important;
  background-color: #005a6a !important;
  color: white !important;
  justify-content: center !important;
  padding: 8px 12px 8px 12px !important;
  align-items: center !important;
  display: inline-flex !important;
  text-align: center !important;
  font-size: 13px !important;
  font-weight: bold !important;
}




